.root{
	-fx-background-color: #f0fff0;
	-fx-border-color: #ececed;
}
.root > * {
	-fx-font-family: "Malgun Gothic"
}
.text-field{
	-fx-background-color: #FFF;
	-fx-font-weight: bold;
	-fx-font-size: 14;
}
.text-area{
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
  	-fx-background-color: #FFF;
}
.image-view{
	-fx-cursor: hand;
}
#title {
	-fx-font-weight: bold;
	-fx-font-size: 48;
	-fx-effect: dropshadow(gaussian, #2f4f4f, 1.0, 0.01, 1, 1);
	-fx-font-smoothing-type: lcd; 
}
#icon{
	-fx-cursor: hand;
}
#icon:hover{
	-fx-opacity: 0.7;
}
#main{
	-fx-background-color: #272727;
}
.label{
	-fx-text-fill: #FFF;
}